.header-main{grid-area: header}
.main-content{grid-area: main}
.footer-main{grid-area: footer}
.grid-template{
  display: grid;
  grid-template-areas:
  "header header header"
  "main main main"
  "footer footer footer";
  background-color: red;
}


.main-content, .header-main{
  text-align: center;
}
